/* LoginPage.css */
.container-main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    min-height: calc(100vh - 160px); /* Adjusted for header and footer height */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-btn {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  